/* General container styling for CartP */
.cartp {
    position: fixed;
    top: 10px; /* Adjust as necessary */
    left: 800px;
    width: 250px;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
}

/* General container styling for PizzaMania */
.pizza-mania-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 90vw;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    top: 100px;
}

/* Card styling for PizzaMania */
.pizza-card {
    background-color: #ffa705;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
    margin: auto;
}

.pizza-card:hover {
    transform: scale(1.03);
}

/* Pizza image styling */
.pizza-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Price display styling */
.pizza-card span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

/* Description styling */
.pizza-card p {
    font-size: 16px;
    color: #111;
    margin-bottom: 15px;
}

/* Add to Cart button styling */
.pizza-card button {
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    padding: 3px 3px;
    background-color: #ff5f5f;
    color: white;
    border: none;
    cursor: pointer;
}

.pizza-card button:hover {
    background-color: #e04141;
}

/* Size and Crust dropdowns */
.selectsize, .selectcrust {
    width: fit-content;
    min-height: 25px;
    background-color: #ff0d0d;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.selectcrust {
    background-color: #007bff;
}

/* Error message styling */
.pizza-error {
    color: #000;
    text-align: center;
}

.text {
    color: black;
}

/* Skeleton animation keyframe */
@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: #f0f0f0;
    }
}

/* Skeleton card for loading */
.skeleton {
    animation: skeleton-loading 1.5s linear infinite alternate;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    margin: auto;
}
